<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/people}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div layout:fragment="corpo">
        <h2>GuaraHack</h2>
        <p>Olá! Bem vindo, <span th:text="${name}">_fulano_</span>!</p>
        <p>Fique à vontade para explorar</p>
        <br>

        <h3 class="text-2xl font-bold mb-4 text-white">Cursos disponiveis</h3>
        <div class="relative overflow-hidden">
            <div class="flex space-x-4 overflow-y-auto max-h-[40vh]" th:each="course : ${courses}">
                <div th:if="${course.firstLesson != null}" class="min-w-[250px] bg-zinc-700 border rounded shadow p-4">
                    <h4 class="text-lg font-semibold mb-2 text-white" th:text="${course.name}">Nome do Curso</h4>
                    <a class="text-purple-400 underline hover:text-blue-500"
                    th:href="@{/courses/course/{id}(id=${course.id})}">
                        Acessar Curso
                    </a>
                </div>
            </div>
        </div>
        

        <h3>Meus Cursos ➔</h3>
        <div>
        </div>
    </div>
</body>

</html>