<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/people}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div layout:fragment="corpo">
        <h2>GuaraHack</h2>
        <p>Olá! Bem vindo, <span th:text="${loggedInUser.name}">_fulano_</span>!</p>
        <p>Fique à vontade para explorar</p>

        <h3>Todos os Cursos</h3>
        <div th:each>
            <div>
                <h4>Curso 1</h4>
                <p>Minicurso de tecnologia 1</p>
            </div>
            <div>
                <h4>Curso 2</h4>
                <p>Minicurso de tecnologia 2</p>
            </div>
            <div>
                <h4>Curso 3</h4>
                <p>Minicurso de tecnologia 3</p>
            </div>
            <div>
                <h4>Curso 4</h4>
                <p>Minicurso de tecnologia 4</p>
            </div>
        </div>

        <h3>Meus Cursos ➔</h3>
        <div>
        </div>
    </div>
</body>

</html>