<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/people}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Cartões</title>
</head>

<body>
    <div layout:fragment="corpo">
        <h2>Meus Cartões</h2>

        <!-- Lista de Cartões -->
        <div th:if="${cards.isEmpty()}">
            <p>Você ainda não possui cartões cadastrados.</p>
        </div>
        <table th:if="${!card.isEmpty()}">
            <thead>
                <tr>
                    <th>Número do Cartão</th>
                    <th>Nome no Cartão</th>
                    <th>Validade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="card : ${cards}">
                    <td th:text="${card.numero}">** ** ** 1234</td>
                    <td th:text="${card.nome}">Nome Exemplo</td>
                    <td th:text="${card.validade}">12/24</td>
                    <td>
                        <button th:onclick="'window.location.href=\'/card/editar/' + ${card.id}'">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Botão para cadastrar novo cartão -->
        <div style="margin-top: 20px;">
            <button th:onclick="'window.location.href=\'/card/novo\''">Cadastrar Novo Cartão</button>
        </div>
    </div>
</body>

</html>