<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/adm}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Trabalhador</title>
</head>

<body>
    <div layout:fragment="corpo" class="bg-zinc-800 w-full justify-center items-start flex overflow-auto">
        <section class="justify-center flex flex-col text-white w-2/3">
            <nav>
                <h3 class="font-bold text-5xl text-purple-500 mb-4 mt-20">Cadastrar Trabalhador</h3>
            </nav>

            <div class="w-full" id="cadastro">
                <form th:action="${worker.id==null}? @{/workers/salvar}:@{/workers/editar}" th:object="${worker}" method="POST">
                    <div class="flex flex-col gap-4">
                            <label for="name">Nome do Funcionário</label>
                            <input type="text" id="name" placeholder="Nome Completo"
                                   autofocus="autofocus" th:field="*{name}" class="px-4 py-2 rounded-md border border-purple-200 text-white"/>
                        
                                <label for="birthDate">Data de Nascimento</label>
                                <input type="date" id="birthDate" 
                                placeholder="10/10/2000" th:field="*{birthDate}" class="px-4 py-2 rounded-md border border-purple-200 text-white"/>
                                    <label for="cpf">CPF</label>
                                    <input type="text" class="px-4 py-2 rounded-md border border-purple-200 text-white" id="cpf"  data-mask="###.###.###-##"
                                    th:field="*{cpf}"/>
                       
                            <label for="salary">Salário Bruto</label>
                            <input type="text" id="salary" data-mask="#.##0,00"
                                   data-mask-reverse="true" th:field="*{salary}" class="px-4 py-2 rounded-md border border-purple-200 text-white"/>
                
                            <label for="department">Departamentos </label>
                            <select id="department" th:field="*{department}" class="text-black">
                                <option value="">Selecione</option>
                                <option th:each="d : ${departments}" th:value="${d.id}" th:text="${d.name}">Administração</option>
                                
                            </select>

                            <label for="role">Função</label>
                            <input type="text" id="role"
                            autofocus="autofocus" th:field="*{role}" class="px-4 py-2 rounded-md border border-purple-200 text-white"/>
                    
                            <label for="address">Endereço</label>
                            <input type="text" id="address"
                            autofocus="autofocus" th:field="*{address}" class="px-4 py-2 rounded-md border border-purple-200 text-white"/>
                        
                            <label for="telephone">Telefone</label>
                            <input type="text" id="telephone"
                            autofocus="autofocus" th:field="*{telephone}" class="px-4 py-2 rounded-md border border-purple-200 text-white"/>
                    
                    <input type="hidden" id="id" name="id" value=""/>
                    <button type="submit" class="bg-purple-400 hover:bg-purple-500 px-4 py-2 rounded-md">Salvar</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</body>

</html>