<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/adm}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Empresa</title>
</head>

<body>
    <div layout:fragment="corpo" class="corpo">
        <section class="alinhamento">
            <nav>
                <h3 class="titulo">Cadastrar Empresa</h3>
            </nav>

            <div class="w-full">
                <form th:object="${company}" th:action="@{/companies/salvar}" method="post">
                    <div class="formulario">
                        <label for="name">Nome:</label>
                        <input type="text" th:field="*{name}" id="name" class="campo">

                        <label for="telephone">Telefone:</label>
                        <input type="text" th:field="*{telephone}" id="telephone" class="campo">

                        <label for="address">Endereço:</label>
                        <input type="text" th:field="*{address}" id="address" class="campo">

                        <label for="cnpj">CNPJ:</label>
                        <input type="text" th:field="*{cnpj}" id="cnpj" class="campo">

                        <button type="submit" class="bg-purple-400 hover:bg-purple-500 px-4 py-2 rounded-md">Cadastrar</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</body>

</html>