<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/adm}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Companhia</title>
</head>

<body>
    <div layout:fragment="corpo">
        <section>
            <nav>
                <h3>Editar Companhia</h3>
            </nav>

            <div class="w-full">
                <form th:object="${company}" th:action="@{/companies/editar/{id} (id=${company.id})}" method="post">
                    <div class="flex flex-col gap-4">
                        <label for="name">Nome:</label>
                        <input type="text" th:field="*{name}" id="name" class="px-4 py-2 rounded-md border border-purple-200 text-white">

                        <label for="telephone">Telefone:</label>
                        <input type="text" th:field="*{telephone}" id="telephone" class="px-4 py-2 rounded-md border bg-purple-200 text-white">

                        <label for="address">Endereço:</label>
                        <input type="text" th:field="*{address}" id="address" class="px-4 py-2 rounded-md border border-purple-200 text-white">

                        <label for="cnpj">CNPJ:</label>
                        <input type="text" th:field="*{cnpj}" id="cnpj" class="px-4 py-2 rounded-md border border-purple-200 text-white">

                        <button type="submit" class="bg-purple-400 hover:bg-purple-500 px-4 py-2 rounded-md">Editar</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</body>

</html>