<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/people}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div layout:fragment="corpo" class="bg-zinc-800 h-[100vh] w-full px-20 pt-5 overflow-auto">
        <h2 th:text="${course.name}" class="text-4xl font-bold text-purple-500 mb-4">Nome do Curso</h2>

        <iframe th:src="${first_lesson_link}" width="960" height="540" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="cursolinux-1"></iframe>

        <div>
            <p th:text="${course.description}" class="text-lg mt-2">Aqui vai a descrição do curso, explicando seu conteúdo, objetivos e benefícios.</p>
        </div>

        <div class="flex justify-between items-center py-5">
            <a th:href="@{/courses/matricular/{id}(id=${course.id})}" class="bg-purple-600 text-white py-2 px-6 rounded hover:bg-purple-700">Se matricular</a>
        </div>
    </div>
</body>

</html>