<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>GuaraHacker</title>
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-900">
    <aside th:fragment="nav" class="bg-zinc-900 w-64 h-[100vh] p-4 flex flex-col shadow-lg">
        <nav class="menu text-white text-center w-full h-full flex flex-col justify-start gap-6">
            <h1 class="text-2xl font-bold mb-6 text-center text-purple-400">GuaraHacker</h1>
            <a th:href="@{/people/home}" class="menu-item text-lg font-semibold py-2 px-4 rounded hover:bg-zinc-700 transition duration-200">Home</a>
            <a th:href="@{/people/meusdados}" class="menu-item text-lg font-semibold py-2 px-4 rounded hover:bg-zinc-700 transition duration-200">Meus Dados</a>
            
            <div class="flex-grow"></div>
            
            <div class="logout mt-auto">
                <form th:action="@{/logout}" method="post" class="text-center">
                    <button type="submit" class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded w-full transition duration-200">
                        Log-Out
                    </button>
                </form>
            </div>
        </nav>
    </aside>
</body>

</html>
