<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>GuaraHackers</title>
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <script src="/src/main/resources/static/js/home.js"></script>
    <meta charset="UTF-8">
</head>

<body>
    <header th:fragment="cabecalho">
        <nav class="flex bg-zinc-800 items-center justify-center text-white h-12 px-10 border-b-2 border-zinc-700">
            <h2 class="font-bold text-purple-400 text-xl">Admin area</h2>
        </nav>
    </header>
</body>

</html>