<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/nao_logado}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div layout:fragment="corpo">
        <div class="grid grid-cols-5 grid-rows-3 justify-center h-[95vh] bg-zinc-800">
            <div class="justify-center flex col-start-2 col-end-5 row-start-1">
                <h1 class="mt-20">Contate-nos</h1>
            </div>
            <div class="grid-cols-2 col-start-2 row-start-2 row-end-4 col-end-5 bg-stone-900 border rounded-md border-stone-600 h-3/4 text-white">
                <form action="" class="grid grid-rows-8 p-10 size-full gap-x-5">
                    <label for="nome">Nome</label>
                    <input name="nome" type="text" class="row-start-2">
                    <label for="email" class="col-start-2">Email</label>
                    <input name="email" type="email" class="row-start-2 col-start-2">
                    <label for="mensagem" class="row-start-4 row-end-5">Mensagem</label>
                    <textarea name="mensagem" cols="30" rows="10" class="row-start-5 row-end-8 col-start-1 col-end-3"></textarea>
                    <button type="submit" class="row-start-8 col-span-2 self-center mt-6 bg-white text-black w-64 h-5/6 rounded-md justify-self-center">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>