<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/nao_logado}">

<head>
    <title>Desenvolvimento de Sistemas Web III</title>
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
</head>

<body>
    <div layout:fragment="corpo">
        <div class="h-[85vh] w-full grid grid-cols-2 bg-[url('/image/cybersecurity.jpg')] bg-cover">
            <div class="bg-gradient-to-r from-black to-transparent p-16">
                <h1 class="text-7xl text-purple-600 col-start-1 py-5">
                    GuaraHack
                </h1>
                <div class="col-start-1 w-4/6 text-justify text-white text-2xl">
                    <p>
                        GuaraHack é a sua empresa de segurança!
                        Precisando saber como vai a segurança web da sua empresa?
                        Contate-nos!
                        <br>
                        Os melhores cursos de segurança da informação e tecnologias você encontra aqui!
                    </p>
                </div>
            </div>
        </div>

        <div class="h-[100vh] bg-zinc-900 px-16">
            <div class="w-full flex justify-center align-middle py-5">
                <a
                    class="bg-gradient-to-r from-purple-700 to-purple-400 p-4 hover:scale-110 rounded-md text-white font-sans font-semibold hover: hover:bg-gradient-to-r hover:from-blue-500 hover:to-blue-300 hover:text-black transition ease-in-out">Confira
                    todos os nossos cursos</a>
            </div>
            <hr>
            <div>
            </div>
        </div>
    </div>
</body>

</html>