<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">
<head>
    <title>Desenvolvimento de Sistemas Web III</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous" defer></script>
    <meta charset="UTF-8" />
</head>
<body>
    <section class="layout-content" layout:fragment="corpo">

        <nav class="navbar navbar-expand-md bg-light">
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <i class="oi oi-caret-right"></i>
                        <span>Home</span>
                    </li>
                </ul>
            </div>
        </nav>
        </nav>
        <div class="container">

            <p>
                O Java Spring Boot é uma ferramenta de código aberto que facilita o uso de estruturas baseadas em Java para criar microsserviços e aplicativos da web. Para qualquer definição de Spring Boot, a conversa deve começar com Java – uma das linguagens de desenvolvimento e plataformas de computação mais populares e amplamente utilizadas para desenvolvimento de aplicativos. Desenvolvedores de todo o mundo iniciam sua jornada de codificação aprendendo Java. Flexível e fácil de usar, o Java é o favorito do desenvolvedor para uma variedade de aplicativos - tudo, desde aplicativos de mídia social, web e jogos até aplicativos empresariais e de rede.
            </p>
            <p>
                Embora o Java possa ser fácil de usar e ser mais fácil de aprender do que outras linguagens, o nível de complexidade para criar, depurar e implantar aplicativos Java foi escalonado para novas alturas. Isso ocorre devido ao número exponencial de variáveis que os desenvolvedores modernos enfrentam ao desenvolver aplicativos Web ou aplicativos móveis para tecnologias modernas comuns, como streaming de música ou aplicativos de pagamento em dinheiro móvel. Um desenvolvedor que escreve um aplicativo de linha de negócios básico agora precisa lidar com várias bibliotecas, plug-ins, log de erros e manipulação de bibliotecas, integrações com serviços Web e várias linguagens, como C#, Java, HTML e outras. É compreensível que haja uma demanda insaciável por qualquer ferramenta que simplifique o desenvolvimento de aplicativos Java, economizando tempo e dinheiro aos desenvolvedores.
 
            </p>
    
        </div>
    
    </section>
</body>
</html>
